<p id="notice"><%= notice %></p>

<h1>Reader Details</h1>

<p>
  <strong>First Name:</strong>
  <%= @reader.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @reader.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reader.email %>
</p>

<button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_reader_path(@reader) %></button>
<button type="button" class="btn btn-danger"><%= link_to 'Delete', @reader, method: :delete, data: { confirm: 'Are you sure?' } %></button>
<button type="button" class="btn btn-secondary"><%= link_to 'Back', readers_path %></button>

<h2> Books for <%= @reader.first_name %></h2>
<% if @reader.tracks.present? %>

 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Shelf</th>
      <th>Review</th>
      <th colspan="4"></th>
    </tr>
  </thead>
    <tbody>
      <% @reader.tracks.joins(:book).each do |t| %>
        <tr>
        <td><%= t.book.id %></td>
        <td><strong><%= t.book.title %></strong></td>
        <td><%= t.book.author %></td>
        <td><%= t.shelf %></td>
        <td><%= t.review %></td>

        <td><button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_reader_book_path(reader_id: @reader.id, id: t.book.id) %></button></td>
        <td><button type="button" class="btn btn-danger"><%= link_to 'Delete', [@reader, t.book], method: :delete, data: { confirm: 'Are you sure?' } %></button></td>


        </tr>
      <% end %>
      </tbody>
  </table>
<% end %>


<button type="button" class="btn btn-lg btn-secondary"><%= link_to 'Add a New Book', new_reader_book_path(@reader), class: "pull-left" %></button>
